HabitatReStoreMobile/HabitatReStoreMobile/Service References/ServiceReference1/HabitatService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HabitatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/HabitatWCFService/HabitatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/HabitatWCFService/HabitatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/HabitatWCFService/HabitatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HabitatWCFService" />
      <xsd:import schemaLocation="http://localhost/HabitatWCFService/HabitatService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHabitatService_InsertVolunteer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVolunteer" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_InsertVolunteer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVolunteerResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_InsertDonor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDonor" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_InsertDonor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDonorResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_InsertDonation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDonation" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_InsertDonation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDonationResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_InsertItem_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertItem" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_InsertItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertItemResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetItemWithImageAndDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemWithImageAndDescription" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetItemWithImageAndDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemWithImageAndDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetDonorFromEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorFromEmail" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetDonorFromEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorFromEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetItemCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemCategories" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetItemCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetVolunteerCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVolunteerCategories" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetVolunteerCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVolunteerCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetDriverFromIDAndEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriverFromIDAndEmail" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetDriverFromIDAndEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriverFromIDAndEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetDonationAndPickupFromID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonationAndPickupFromID" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_GetDonationAndPickupFromID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonationAndPickupFromIDResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_UpdateCompletedDonationPickup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompletedDonationPickup" />
  </wsdl:message>
  <wsdl:message name="IHabitatService_UpdateCompletedDonationPickup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompletedDonationPickupResponse" />
  </wsdl:message>
  <wsdl:portType name="IHabitatService">
    <wsdl:operation name="InsertVolunteer">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/InsertVolunteer" message="tns:IHabitatService_InsertVolunteer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/InsertVolunteerResponse" message="tns:IHabitatService_InsertVolunteer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDonor">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/InsertDonor" message="tns:IHabitatService_InsertDonor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/InsertDonorResponse" message="tns:IHabitatService_InsertDonor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDonation">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/InsertDonation" message="tns:IHabitatService_InsertDonation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/InsertDonationResponse" message="tns:IHabitatService_InsertDonation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/InsertItem" message="tns:IHabitatService_InsertItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/InsertItemResponse" message="tns:IHabitatService_InsertItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemWithImageAndDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/GetItemWithImageAndDescription" message="tns:IHabitatService_GetItemWithImageAndDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/GetItemWithImageAndDescriptionResponse" message="tns:IHabitatService_GetItemWithImageAndDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDonorFromEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/GetDonorFromEmail" message="tns:IHabitatService_GetDonorFromEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/GetDonorFromEmailResponse" message="tns:IHabitatService_GetDonorFromEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/GetItemCategories" message="tns:IHabitatService_GetItemCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/GetItemCategoriesResponse" message="tns:IHabitatService_GetItemCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVolunteerCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/GetVolunteerCategories" message="tns:IHabitatService_GetVolunteerCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/GetVolunteerCategoriesResponse" message="tns:IHabitatService_GetVolunteerCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDriverFromIDAndEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/GetDriverFromIDAndEmail" message="tns:IHabitatService_GetDriverFromIDAndEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/GetDriverFromIDAndEmailResponse" message="tns:IHabitatService_GetDriverFromIDAndEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDonationAndPickupFromID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/GetDonationAndPickupFromID" message="tns:IHabitatService_GetDonationAndPickupFromID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/GetDonationAndPickupFromIDResponse" message="tns:IHabitatService_GetDonationAndPickupFromID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompletedDonationPickup">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatService/UpdateCompletedDonationPickup" message="tns:IHabitatService_UpdateCompletedDonationPickup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatService/UpdateCompletedDonationPickupResponse" message="tns:IHabitatService_UpdateCompletedDonationPickup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHabitatService" type="tns:IHabitatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertVolunteer">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/InsertVolunteer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDonor">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/InsertDonor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDonation">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/InsertDonation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertItem">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/InsertItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemWithImageAndDescription">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/GetItemWithImageAndDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonorFromEmail">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/GetDonorFromEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemCategories">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/GetItemCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVolunteerCategories">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/GetVolunteerCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriverFromIDAndEmail">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/GetDriverFromIDAndEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonationAndPickupFromID">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/GetDonationAndPickupFromID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompletedDonationPickup">
      <soap:operation soapAction="http://tempuri.org/IHabitatService/UpdateCompletedDonationPickup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HabitatService">
    <wsdl:port name="BasicHttpBinding_IHabitatService" binding="tns:BasicHttpBinding_IHabitatService">
      <soap:address location="http://localhost/HabitatWCFService/HabitatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>