HabitatReStoreMobile/HabitatReStoreMobile/Service References/ServiceReference1/HabitatService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HabitatWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HabitatWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/HabitatWCFService/HabitatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/HabitatWCFService/HabitatService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="VolunteerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="ser:char" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Middle_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Selected_Role_IDs" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_Map_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Volunteer_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VolunteerInfo" nillable="true" type="tns:VolunteerInfo" />
  <xs:complexType name="DonorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Donor_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="ser:char" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Middle_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_Map_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonorInfo" nillable="true" type="tns:DonorInfo" />
  <xs:complexType name="DonationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bypass_Flag" type="xs:boolean" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Donation_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Donor_ID" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_Map_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Store_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonationInfo" nillable="true" type="tns:DonationInfo" />
  <xs:complexType name="DonationPickupInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Completed" type="xs:int" />
      <xs:element minOccurs="0" name="DonationID" type="xs:int" />
      <xs:element minOccurs="0" name="PickupWindowEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PickupWindowStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonationPickupInfo" nillable="true" type="tns:DonationPickupInfo" />
  <xs:complexType name="ItemInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Donation_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Donation_Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Item_Category_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Item_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemInfo" nillable="true" type="tns:ItemInfo" />
  <xs:complexType name="ArrayOfItemCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemCategory" nillable="true" type="tns:ItemCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemCategory" nillable="true" type="tns:ArrayOfItemCategory" />
  <xs:complexType name="ItemCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_Category_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemCategory" nillable="true" type="tns:ItemCategory" />
  <xs:complexType name="ArrayOfVolunteerCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VolunteerCategory" nillable="true" type="tns:VolunteerCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolunteerCategory" nillable="true" type="tns:ArrayOfVolunteerCategory" />
  <xs:complexType name="VolunteerCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volunteer_Category_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VolunteerCategory" nillable="true" type="tns:VolunteerCategory" />
  <xs:complexType name="DriverInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="ser:char" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Middle_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_Map_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriverInfo" nillable="true" type="tns:DriverInfo" />
  <xs:complexType name="DonationAndPickup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Donation" nillable="true" type="tns:DonationInfo" />
      <xs:element minOccurs="0" name="Pickup" nillable="true" type="tns:DonationPickupInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonationAndPickup" nillable="true" type="tns:DonationAndPickup" />
</xs:schema>