HabitatReStoreMobile/HabitatReStoreMobile/Service References/ServiceReference1/HabitatReStoreService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HabitatReStoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7777/HabitatReStoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7777/HabitatReStoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7777/HabitatReStoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HabitatReStoreWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHabitatReStoreService_InsertVolunteer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVolunteer" />
  </wsdl:message>
  <wsdl:message name="IHabitatReStoreService_InsertVolunteer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVolunteerResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatReStoreService_InsertDonor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDonor" />
  </wsdl:message>
  <wsdl:message name="IHabitatReStoreService_InsertDonor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDonorResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitatReStoreService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IHabitatReStoreService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IHabitatReStoreService">
    <wsdl:operation name="InsertVolunteer">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatReStoreService/InsertVolunteer" message="tns:IHabitatReStoreService_InsertVolunteer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatReStoreService/InsertVolunteerResponse" message="tns:IHabitatReStoreService_InsertVolunteer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDonor">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatReStoreService/InsertDonor" message="tns:IHabitatReStoreService_InsertDonor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatReStoreService/InsertDonorResponse" message="tns:IHabitatReStoreService_InsertDonor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitatReStoreService/GetDataUsingDataContract" message="tns:IHabitatReStoreService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitatReStoreService/GetDataUsingDataContractResponse" message="tns:IHabitatReStoreService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHabitatReStoreService" type="tns:IHabitatReStoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertVolunteer">
      <soap:operation soapAction="http://tempuri.org/IHabitatReStoreService/InsertVolunteer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDonor">
      <soap:operation soapAction="http://tempuri.org/IHabitatReStoreService/InsertDonor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IHabitatReStoreService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HabitatReStoreService">
    <wsdl:port name="BasicHttpBinding_IHabitatReStoreService" binding="tns:BasicHttpBinding_IHabitatReStoreService">
      <soap:address location="http://localhost:7777/HabitatReStoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>