HabitatReStoreMobile/HabitatReStoreMobile/Service References/ServiceReference1/HabitatService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.5/HabitatWCFService/HabitatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HabitatWCFService" />
  <xs:element name="InsertVolunteer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HabitatWCFService" minOccurs="0" name="volunteerInfo" nillable="true" type="q1:VolunteerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVolunteerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertVolunteerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDonor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HabitatWCFService" minOccurs="0" name="donorInfo" nillable="true" type="q2:DonorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDonorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDonorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDonation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HabitatWCFService" minOccurs="0" name="donationInfo" nillable="true" type="q3:DonationInfo" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HabitatWCFService" minOccurs="0" name="itemInfo" nillable="true" type="q4:ItemInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDonationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDonationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorFromEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorFromEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HabitatWCFService" minOccurs="0" name="GetDonorFromEmailResult" nillable="true" type="q5:DonorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HabitatWCFService" minOccurs="0" name="GetItemCategoriesResult" nillable="true" type="q6:ArrayOfItemCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>